{% extends 'baseAdmin.html.twig' %}

{% block title %}Séries{% endblock %}

{% block body %}
    <div class="container-fluid mt-5">
        <div class="jumbotron">
            <div class="container d-flex justify-content-center">
                <a class="btn btn-secondary mb-3" href="{{ path('bd_collection_new') }}">Ajouter</a>
                <table class="table bg-white font-weight-lighter shadow-lg" id="table_serie">
                    <thead>
                    <tr>
                        <th>Id :</th>
                        <th>Série :</th>
                        <th>Nombre de volumes :</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for bd_collection in bd_collections %}
                        <tr>
                            <td>{{ bd_collection.id }}</td>
                            <td>{{ bd_collection.name }}</td>
                            <td>{% for bd in bd_collection.bds %}
                                    {% if loop.last %}
                                        {{ loop.length }}
                                    {% endif %}
                                {% endfor %}</td>
                            <td></td>
                            <td>
                                <div class="row">
                                    <a class="btn btn-outline-warning mr-3"
                                       href="{{ path('bd_collection_edit', {'slug': bd_collection.slug}) }}">Modifier</a>
                                    {{ include('bd_collection/_delete_form.html.twig') }}
                                </div>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="3">pas de séries...</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="pagination">
                {{ knp_pagination_render(bd_collections) }}
            </div>
        </div>
    </div>
{% endblock %}
