{% extends 'baseAdmin.html.twig' %}

{% block title %}BdCollection{% endblock %}

{% block body %}
    <h1>BdCollection</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ bd_collection.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ bd_collection.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('bd_collection_index') }}">back to list</a>

    <a href="{{ path('bd_collection_edit', {'slug': bd_collection.slug}) }}">edit</a>

    {{ include('bd_collection/_delete_form.html.twig') }}
{% endblock %}
