{{ form_start(form) }}
    {{ form_widget(form) }}
<div class="d-flex justify-content-between">
    <button class="btn btn-success">{{ button_label|default('Enregistrer') }}</button>
    <a class="btn btn-primary ml-4" href="{{ path('author_index') }}">Retour</a>
</div>

{{ form_end(form) }}
