<nav class="navbar navbar-expand-lg navbar-light shadow p-3 mb-5 bg-white" id="navbar">
    <div class="collapse navbar-collapse d-flex justify-content-around" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link p-0" href="{{ path('homepage') }}">
                    <img src="{{ asset('build/logo_bdtech1.png') }}" alt="bulle_logo" id="bulle_logo">
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link btn btn-outline-dark mr-2 bg-white text-dark" href="{{ path('bd_list') }}"
                   id="liste">Liste</a>
            </li>
            <li class="nav-item">
                {{ render(controller('App\\Controller\\CategoryController::listCategories')) }}
            </li>
            <li class="nav-item">
                {{ render(controller('App\\Controller\\AuthorController::listAuthors')) }}
            </li>
            <li class="nav-item">
                {{ render(controller('App\\Controller\\BdCollectionController::listBdCollections')) }}
            </li>
            {% if app.user and is_granted('ROLE_ADMIN') %}
                <li class="nav-item">
                    <a class="nav-link btn btn-outline-warning mr-2" href="{{ path('bd_index') }}"
                       id="adminButton">Administration</a>
                </li>
            {% endif %}
            {% if app.user %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_logout') }}">
                        <img src="{{ asset('build/deco_black.png') }}" alt="deco" id="deconnexion">
                    </a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_login') }}">
                        <img src="{{ asset('/build/connexion_black_100x73.png') }}" alt="co" id="connexion">
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>