{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block navbar %}
    {% include '/navbar/navbarHome.html.twig' %}
{% endblock %}

{% block body %}

    {# first container welcome #}

    <div class="container">
        <div class="jumbotron mt-5 pt-3 pb-3 pl-1 pr-1">
            <div class="row">
                <div class="col-md-4 d-flex justify-content-center">
                    <img src="/build/cortomaltese.jpg" class="card-img-top" style="width: 300px; height: 150px"
                         alt="corto">
                </div>
                <div class="col-md-4 text-center">
                    <div class="mt-4">
                        {# ajouter app.user.name #}
                        <h1>Bonjour</h1>
                        <h2>Bienvenue sur BDTech'</h2>
                    </div>
                </div>
                <div class="col-md-4 d-flex justify-content-center">
                    <img src="/build/blake_mortimer.jpg" class="card-img-top" style="width: 300px; height: 150px"
                         alt="corto">
                </div>
            </div>
        </div>
    </div>

    {# second container carousel + count #}

    <div class="container">
        <div class="jumbotron">
            <div class="row">
                {# carousel col #}
                <div class="col-md-8">
                    <div class="col d-flex justify-content-center mb-4">
                        <div class="row">
                            <div class="card" style="width: 400px; height: 70px;">
                                <div class="card-body">
                                    <h5 class="card-title text-center">Derniers ajouts : </h5>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col d-flex justify-content-center">
                        <div class="row mb-4">
                            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner">
                                    {% for bd in bds %}
                                        <div class="carousel-item {% if loop.first %} active {% endif %}">
                                            <img class="d-block w-100" src="/uploads/covers/{{ bd.filename }}" alt="{{ bd.slug }}" style="width: 380px; height: 500px">
                                        </div>
                                    {% endfor %}
                                </div>
                                <a class="carousel-control-prev" href="#carouselExampleControls" role="button"
                                   data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#carouselExampleControls" role="button"
                                   data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                {# counts col#}
                <div class="col-md-4">
                    <div class="row mt-5 mb-5">
                        <div class="col-md d-flex justify-content-center">
                            <div class="card " style="width: 180px; height: 70px;">
                                <div class="card-body">
                                    <h5 class="card-title text-center">Bds : {{ total_bd|length }}</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-5">
                        <div class="col-md d-flex justify-content-center">
                            <div class="card" style="width: 180px; height: 70px;">
                                <div class="card-body">
                                    <h5 class="card-title text-center">Auteurs : {{ total_author|length }}</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-5">
                        <div class="col-md d-flex justify-content-center">
                            <div class="card" style="width: 180px; height: 70px;">
                                <div class="card-body">
                                    <h5 class="card-title text-center">Genres : {{ total_category|length }}</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-5">
                        <div class="col-md d-flex justify-content-center">
                            <div class="card" style="width: 180px; height: 70px;">
                                <div class="card-body">
                                    <h5 class="card-title text-center">Séries : {{ total_collection|length }}</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md d-flex justify-content-center">
                            <div class="card" style="width: 180px; height: 70px;">
                                <div class="card-body">
                                    <h5 class="card-title text-center">BD en prêt : {{ total_lend|length }}</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
