{% extends 'baseAdmin.html.twig' %}

{% block title %}Bd index{% endblock %}

{% block body %}
    <div class="container-fluid mt-5">
        <div class="jumbotron-fluid">
            <div class="container-fluid">
                <a class="btn btn-secondary mb-3" href="{{ path('bd_new') }}">Ajouter</a>
                <table class="table bg-white font-weight-lighter shadow-lg" id="">
                    <thead>
                    <tr>
                        <th style="width: 70px;">Id :</th>
                        <th style="width: 300px;">Titre :</th>
                        <th style="width: 210px;">Genre :</th>
                        <th style="width: 150px;">Auteur(s) :</th>
                        <th style="width: 130px;">Editeur :</th>
                        <th style="width: 100px;">En prêt :</th>
                        <th style="width: 120px;">Date d'ajout :</th>
                        <th style="width: 230px;"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for bd in bds %}
                        <tr>
                            <td>{{ bd.id }}</td>
                            <td>{{ bd.title }}</td>
                            <td>
                                {{ bd.category.name }}
                            </td>
                            <td>
                                {% for author in bd.authors %}
                                        {{ author.name }} <br>
                                    {% endfor %}
                            </td>
                            <td>{{ bd.edition }}</td>
                            <td>{{ bd.onLend ? 'Oui' : 'Non' }}</td>
                            <td>{{ bd.createdAt ? bd.createdAt|date('d-m-Y') : '' }}</td>
                            <td>
                                <div class="row">
                                    <a class="btn btn-outline-secondary mb-3"
                                       href="{{ path('bd_show', {'slug': bd.slug}) }}">Voir</a>
                                    <a class="btn btn-outline-warning text-dark ml-2 mb-3 mr-4"
                                       href="{{ path('bd_edit', {'slug': bd.slug}) }}">Modifier</a>
                                    {{ include('bd/_delete_form.html.twig') }}
                                </div>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="14">pas de BD...</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="pagination">
                {{ knp_pagination_render(bds) }}
            </div>
        </div>


    </div>
{% endblock %}
