{% extends 'baseAdmin.html.twig' %}

{% block title %}Bd index{% endblock %}

{% block body %}
    <div class="container-fluid">
        <table class="table mt-5">
            <thead>
            <tr>
                <th>Id :</th>
                <th>Titre :</th>
                <th>Genre :</th>
                <th>Auteur(s) :</th>
                <th>Editeur :</th>
                <th>En prêt :</th>
                <th>Date d'ajout :</th>
            </tr>
            </thead>
            <tbody>
            {% for bd in bds %}
                <tr>
                    <td>{{ bd.id }}</td>
                    <td>{{ bd.title }}</td>
                    <td>
                        {{ bd.category.name }}
                    </td>
                    <td>
                        <ul>{% for author in bd.authors %}
                                <li>{{ author.name }}</li>
                            {% endfor %}</ul>
                    </td>
                    <td>{{ bd.edition }}</td>
                    <td>{{ bd.onLend ? 'Oui' : 'Non' }}</td>
                    <td>{{ bd.createdAt ? bd.createdAt|date('d-m-Y') : '' }}</td>
                    <td>
                        <a href="{{ path('bd_show', {'slug': bd.slug}) }}">show</a>
                        <a href="{{ path('bd_edit', {'slug': bd.slug}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="14">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('bd_new') }}">Create new</a>
    </div>
{% endblock %}
