{% extends 'base.html.twig' %}

{% block title %}Bd{% endblock %}

{% block body %}
    <h1>Bd</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ bd.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ bd.title }}</td>
            </tr>
            <tr>
                <th>Edition</th>
                <td>{{ bd.edition }}</td>
            </tr>
            <tr>
                <th>Collected_works</th>
                <td>{{ bd.collectedWorks }}</td>
            </tr>
            <tr>
                <th>Creation_date</th>
                <td>{{ bd.creationDate ? bd.creationDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Owned_bd_date</th>
                <td>{{ bd.ownedBdDate ? bd.ownedBdDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Value</th>
                <td>{{ bd.value }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ bd.price }}</td>
            </tr>
            <tr>
                <th>Comment</th>
                <td>{{ bd.comment }}</td>
            </tr>
            <tr>
                <th>Isbn</th>
                <td>{{ bd.isbn }}</td>
            </tr>
            <tr>
                <th>On_lend</th>
                <td>{{ bd.onLend ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Filename</th>
                <td>{{ bd.filename }}</td>
            </tr>
            <tr>
                <th>Created_at</th>
                <td>{{ bd.createdAt ? bd.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('bd_index') }}">back to list</a>

    <a href="{{ path('bd_edit', {'slug': bd.slug}) }}">edit</a>

    {{ include('bd/_delete_form.html.twig') }}
{% endblock %}
